---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&q=39.10713,-84.50413
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - d1202329dcfc48c1b04204122232409
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/25/2023 05:18:29'
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3dec8f20b89753d5e6f5b7a48e34ad4b
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1695619060,"localtime":"2023-09-25
        1:17"},"current":{"last_updated_epoch":1695618900,"last_updated":"2023-09-25
        01:15","temp_c":17.2,"temp_f":63.0,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":30,"wind_dir":"NNE","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"humidity":87,"cloud":25,"feelslike_c":17.2,"feelslike_f":63.0,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":8.6,"gust_kph":13.9}}'
  recorded_at: Mon, 25 Sep 2023 05:18:29 GMT
recorded_with: VCR 6.2.0
