---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&q=39.10713,-84.50413
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - d1202329dcfc48c1b04204122232409
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/25/2023 17:04:30'
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 6e07e751f9e2460d11a920624f5238a8
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1695661426,"localtime":"2023-09-25
        13:03"},"current":{"last_updated_epoch":1695661200,"last_updated":"2023-09-25
        13:00","temp_c":22.8,"temp_f":73.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"humidity":64,"cloud":100,"feelslike_c":24.8,"feelslike_f":76.7,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":5.1,"gust_kph":8.3}}'
  recorded_at: Mon, 25 Sep 2023 17:04:30 GMT
recorded_with: VCR 6.2.0
