---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=yes&days=1&hours=24&q=39.10713,-84.50413
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - d1202329dcfc48c1b04204122232409
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/25/2023 17:04:30'
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 918906f862a8cc3bccb2c10e1e0ccce8
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Newport","region":"Kentucky","country":"United
        States of America","lat":39.11,"lon":-84.5,"tz_id":"America/New_York","localtime_epoch":1695661470,"localtime":"2023-09-25
        13:04"},"current":{"last_updated_epoch":1695661200,"last_updated":"2023-09-25
        13:00","temp_c":22.8,"temp_f":73.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"humidity":64,"cloud":100,"feelslike_c":24.8,"feelslike_f":76.7,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":5.1,"gust_kph":8.3,"air_quality":{"co":263.7,"no2":5.4,"o3":94.4,"so2":3.0,"pm2_5":9.9,"pm10":10.7,"us-epa-index":1,"gb-defra-index":1}},"forecast":{"forecastday":[{"date":"2023-09-25","date_epoch":1695600000,"day":{"maxtemp_c":26.4,"maxtemp_f":79.6,"mintemp_c":14.1,"mintemp_f":57.4,"avgtemp_c":19.6,"avgtemp_f":67.4,"maxwind_mph":5.1,"maxwind_kph":8.3,"totalprecip_mm":0.05,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":74.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":5.0,"air_quality":{"co":269.844,"no2":9.268,"o3":81.208,"so2":2.3600000000000003,"pm2_5":9.851999999999999,"pm10":10.604000000000001,"us-epa-index":1,"gb-defra-index":1}},"astro":{"sunrise":"07:28
        AM","sunset":"07:30 PM","moonrise":"05:46 PM","moonset":"02:27 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"74","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1695614400,"time":"2023-09-25
        00:00","temp_c":20.1,"temp_f":68.2,"is_day":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":88,"wind_dir":"E","pressure_mb":1017.0,"pressure_in":30.03,"precip_mm":0.0,"precip_in":0.0,"humidity":74,"cloud":86,"feelslike_c":20.1,"feelslike_f":68.2,"windchill_c":20.1,"windchill_f":68.2,"heatindex_c":20.1,"heatindex_f":68.2,"dewpoint_c":15.3,"dewpoint_f":59.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.1,"gust_kph":13.1,"uv":1.0,"air_quality":{"co":253.7,"no2":7.8,"o3":79.4,"so2":1.8,"pm2_5":9.8,"pm10":10.4,"us-epa-index":1,"gb-defra-index":1}},{"time_epoch":1695618000,"time":"2023-09-25
        01:00","temp_c":19.5,"temp_f":67.1,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":91,"wind_dir":"E","pressure_mb":1016.0,"pressure_in":[...]
