---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=7&q=bloomington%20il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.060 TT 0 0.061"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 11,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503131W",
                    "type": "work",
                    "seed": [
                        "/books/OL10910479M",
                        "/works/OL8503131W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Bloomington/Normal Il448",
                    "title_suggest": "Bloomington/Normal Il448",
                    "title_sort": "Bloomington/Normal Il448",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10910479M"
                    ],
                    "publish_date": [
                        "January 2003"
                    ],
                    "publish_year": [
                        2003
                    ],
                    "first_publish_year": 2003,
                    "number_of_pages_median": 1,
                    "oclc": [
                        "52458148"
                    ],
                    "isbn": [
                        "9780762530557",
                        "0762530553"
                    ],
                    "last_modified_i": 1303918564,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1767942896115253249,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL31020731W",
                    "type": "work",
                    "seed": [
                        "/books/OL42605123M",
                        "/works/OL31020731W",
                        "/authors/OL9618107A"
                    ],
                    "title": "Welcome to Bloomington Il",
                    "title_suggest": "Welcome to Bloo[...]
